@model MVC.Blog_Ozan.Models.Post
@{
    ViewBag.Title ="Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Header -->
<header class="masthead" style="background-image: url('@Url.Content(Model.PhotoPath)')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>@Model.Title</h1>
                    <h2 class="subheading">@Model.Summary</h2>
                    <span class="meta">
                        Posted by
                        <a href="#">@Model.Author.FirstName @Model.Author.LastName</a>
                        on @Model.DateOfCreate.ToString("dd-MM-yyyy")
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</article>


